html 

    head 

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title proj08 

        link(rel="stylesheet", href="/style.css")

        link(rel="shortcut icon", href="/favicon.png", type="image/png")


    body 

        div

            h1 Segurança com Criptografia 

            p Esta página mostra a sua senha de forma criptografada, bem diferente do que foi digitado inicialmente.

            p Senha na criptografia MD5: 
               
            b #{ md5 }

            p Senha na criptografia SHA1: 
                
            b #{ sha1 }

            p Senha na criptografia SHA256: 
                
            b #{ sha256 }