html 

    head 

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title proj08 

        link(rel="stylesheet", href="/style.css")

        link(rel="shortcut icon", href="/favicon.png", type="image/png")


    body 

        div 

            h1 Segurança com Criptografia 

            p Está página serve para introduzir a sua senha no campo e fazer a criptografia mostrando o resultado no final de como a senha deve ser salva em um banco de dados ou armazenada de forma segura!

            form(action="/", method="POST")

                input(type="password", name="senha", placeholder="Digite sua senha...") 

                input(type="submit", value="CRIPTOGRAFAR!")

        