html

    head 

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title proj07

        link(rel="stylesheet", href="/style.css")

        link(rel="shortcut icon", href="/favicon.png", type="image/png")

    body 

        if final

            h1 Você venceu o desafio! 

        else 

            h1 Você falhou!
