html 

    head 

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Twatto 

        link(rel="stylesheet", href="/style.css")

        link(rel="shortcut icon", href="/favicon.png", type="image/png")

    body 

        div(class="logo") Twatto

        div(class="post")

            div(class="post-name") Nome 

            div(class="post-content") Lorem ipsum dolor sit, amet consectetur adipisicing elit.

            img(src="https://picsum.photos/416/208", alt="foto aleatoria")