html 
    
    head 
    
        title Página Sobre 
    
    body 

        h1 Olá

        h2 Página Sobre 

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, dolorem unde earum accusantium vero recusandae sapiente officia debitis maxime inventore impedit nulla ab aliquam commodi totam animi officiis exercitationem magni.
        
        img(src="https://picsum.photos/200/200", alt="foto aleatoria")